.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: $m-d-col;
  overflow: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 35px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
